*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;

}

body{
    background-color: black;
    color: white;
    font-family: 'VT323', monospace;
}
.upperDiv{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.upperDiv button{
    width: 150px;
    height: 50px;
    font-family: 'VT323', monospace;
    font-size: 20px;
}
.heading h1{
    text-align: center;
    font-size: 80px;
    letter-spacing: 10px;
}
.mark{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: white;
    color: black;
    margin: 45px auto;
    font-size: 100px    ;
}
.mainContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}
.mainContainer input{
    width: 100%;
    height: 100px;
    font-size: 30px;
}
.mainContainer button{
    width: 100%;
    height: 50px;
    margin-top: 40px;
    font-family: 'VT323', monospace;
}
.right {
    font-size: 45px;
    padding: 0px 0px 20px 0px;
}
.left{
    padding: 20px;
}
.center{
    align-self: center;
    font-size: 35px;
}
.checkButton{
    font-size: 20px;
    font-family: 'VT323', monospace;

}
.userInput{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
}
.modal{
    position: absolute;
    width: 50%;
    height: fit-content;
    top: 10%;
    left: 0;
    right: 0;
    background-color: black;
    border-radius: 10px;
    border: 2px double white;
    font-size: 25px;
    padding: 40px 20px; 
    margin: 50px auto 0 auto;
}
.flexBox{
    display: flex;
    flex-direction: column;
}
.close{
    /* position: absolute;
    right: 0;
    top: 0; */

    padding: 5px;
    margin: 10px;
}
.hidden{
    display: none;
}



@media(max-width: 1024px){
    .right{
        font-size: 25px;
    }
    .center{
        font-size: 30px;
    }
    .modalText{
        font-size: 20px;
    }
}

@media(min-width: 320px) and (max-width: 500px){
    .mark{
        font-size: 50px;
        width: 150px;
        height: 150px;
    }
    .upperDiv{
        padding: 2px;
    }
}